<footer class="relative h-screen z-50">
    <div class="flex justify-between w-full">
        <h1 class="xlarge">KAJO©</h1>
        <button class="circle" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">↑</button>
    </div>
    <div class="flex justify-between">
        <ul class="flex flex-col gap-8">
            <p class="meta muted invert">(Pages)</p>
            <div>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/studio">Studio</a></li>
                <li><a href="/contact">Contact</a></li>					
            </div>
        </ul>
        <ul class="flex flex-col gap-8">
            <p class="meta muted invert">(CMS)</p>
            <div>
                <li><a href="/projects">Work</a></li>
                <li><a href="/projects/work">Work Single</a></li>
                <li><a href="/journal">Blog</a></li>
                <li><a href="/journal/blog">Blog Single</a></li>					
            </div>
        </ul>
        <ul class="flex flex-col gap-8">
            <p class="meta muted invert">(Utility Pages)</p>
            <div>
                <li><a href="/404">404</a></li>
                <li><a href="/licenses">Licensing</a></li>					
            </div>
        </ul>
        <ul class="flex flex-col gap-8">
            <p class="meta muted invert">(Socials)</p>
            <div>
                <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                <li><a href="https://behance.net" target="_blank">Behance</a></li>
                <li><a href="https://dribbble.com" target="_blank">Dribbble</a></li>					
            </div>
        </ul>
    </div>
</footer>